
        {% include footer.html %}
        </main>
      </div>  <!-- /main-content -->
    </div>  <!-- /main-content-wrap -->

    <a name="bottom"> </a>
    <div id="segment-footer" igtool="footer" class="segment">  <!-- segment-footer -->
      <div class="container" data-fhir="generated">  <!-- container -->
        {% include page-nav.html lang=include.lang position='bottom' %}
        <div class="inner-wrapper">
          <p>
{% capture pkg %}{{site.data.fhir.packageId}}#{{site.data.fhir.igVer}}{% endcapture %}
{% capture fhirver %}<a style="color: var(--footer-hyperlink-text-color)" href="{{site.data.fhir.path}}">FHIR {{site.data.fhir.version}}</a>{% endcapture %}
{% capture gendate %}
<span title="{{ site.data.fhir.genDate | date: "%Y-%m-%d %H:%M:%S %z" }}">
  {{ site.data.fhir.genDate | date: "%Y-%m-%d" }}
</span>
{% endcapture %}
            {{site.data.stringsBase[include.lang]['IGCopyright'] | replace: "%YEAR%", site.data.info.copyrightyear}} <a style="color:var(--footer-hyperlink-text-color)" href="{{site.data.fhir.ig.contact[0].telecom[0]}}">{{site.data.fhir.ig.publisher | escape}}</a>.
            {{site.data.stringsBase[include.lang]['IGPackage'] | replace: "%PKG%", pkg | replace: "%FHIRVER%", fhirver}}
            {{site.data.stringsBase[include.lang]['GeneratedDate'] | replace: "%DATE%", gendate}}
            <br/>
            <span style="color: var(--footer-highlight-text-color)">
              {% include footer-content.html lang=include.lang %}
            </span>
          </p>
        </div>  <!-- /inner-wrapper -->
      </div>  <!-- /container -->
    </div>  <!-- /segment-footer -->

    {% if site.mermaid %}
    {% include mermaid.html %}
  {% endif %}
  </div>  <!-- /main-content-wrap -->
</div>  <!-- /main -->
</div>  <!-- /content-wrapper -->

<script type="text/javascript" src="{{site.data.info.assets}}assets/js/jquery.js"> </script>     <!-- note keep space here, otherwise it will be transformed to empty tag -> fails -->
<script type="text/javascript" src="{{site.data.info.assets}}assets/js/jquery-ui.min.js"> </script>
{% if includetabscripts %}
<script type="text/javascript" src="{{site.data.info.assets}}assets/js/tabs.js"> </script>
{% endif %}
<script type="text/javascript" src="{{site.data.info.assets}}assets/js/window-hash.js"> </script>

</body>
</html>