
<div id="ig-status" style="width: 80%;">
    <p><span style="font-size:12pt;font-weight:bold">{{site.data.fhir.ig.title | escape_once}}</span>
      <br/>
      <span style="display:inline-block;">{{site.data.fhir.ig.version}} - {{status}}
      {% assign igId = site.data.fhir.ig.id | prepend: "ImplementationGuide/" %}
      {% for jurisdiction in site.data.resources[igId].jurisdictions %}
      {% if jurisdiction.flag %}
      <img alt="{{jurisdiction.name}} flag" src="assets/images/{{jurisdiction.flag}}.svg" height="16" title="{{jurisdiction.name}}"/>
      {% elsif jurisdiction.code %}
      <span title="{{jurisdiction.name}}">{{jurisdiction.code}}</span>
      {% else %}
      {{jurisdiction.name}}
      {% endif %}
      {% endfor %}
      </span>
    </p>
  </div>
